<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Search worldwide news.</h2>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/news" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Top Headlines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/news/publishers" routerLinkActive="active">Publishers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/news/categories" routerLinkActive="active">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/news/countries" routerLinkActive="active">Countries</a>
        </li>
      </ul>
    </div>
  </div>
</div>
